/.DS_Store
/Untitled_1.mol
/attempt_1
/attempt_2
/conf.mol
/molecule.png
/peptoid_Nae.mol
/peptoid_Nae_3d.mol
/peptoid_Nae_conf.sdf
/peptoid_roman.mol
/peptoid_roman_3d.mol
/peptoid_roman_conf.sdf
/untitled_1_3d.mol
/untitled_1_conf.sdf
Nae_monomer/peptoid_Nae_3d.mol
Nae_monomer/peptoid_Nae_conf.sdf
Molecules/.DS_Store
Molecules/bwt_315_b.mol
Molecules/bwt_315_c.mol
Molecules/bwt_315_d.mol
Molecules/bwt_315_e.mol
Molecules/attempt_1/conf_0.mol
Molecules/attempt_1/conf_1.mol
Molecules/attempt_1/conf_2.mol
Molecules/attempt_1/conf_3.mol
Molecules/attempt_1/conf_4.mol
Molecules/attempt_1/conf_5.mol
Molecules/attempt_1/conf_6.mol
Molecules/attempt_1/conf_7.mol
Molecules/attempt_1/conf_8.mol
Molecules/attempt_2/conf_0.mol
Molecules/attempt_2/conf_1.mol
Molecules/attempt_2/conf_2.mol
Molecules/attempt_2/conf_3.mol
Molecules/attempt_2/conf_4.mol
Molecules/attempt_2/conf_5.mol
Molecules/attempt_2/conf_6.mol
Molecules/attempt_2/conf_7.mol
Molecules/attempt_2/conf_8.mol
Molecules/attempt_2/conf_9.mol
Molecules/Nae_monomer/peptoid_Nae_3d.mol
Molecules/Nae_monomer/peptoid_Nae_conf.sdf
Molecules/Nce_formyl/Nce_forrmyl_3d.mol
Molecules/Nce_formyl/Nce_forrmyl_conf.sdf
Molecules/Nce_formyl/Nce_forrmyl_E_list.csv
Molecules/Nce_formyl/Nce_forrmyl_min-E-conf-MMFF.sdf
Molecules/Nce_formyl/Nce_forrmyl.png
Molecules/Nce_minus/Nce_minus_3d.mol
Molecules/Nce_minus/Nce_minus_conf.sdf
Molecules/Nce_minus/Nce_minus_E_list.csv
Molecules/Nce_minus/Nce_minus_min-E-conf-MMFF.sdf
Molecules/Nce_minus/Nce_minus.png
Molecules/Nce_trimer/Nce_3d.mol
Molecules/Nce_trimer/Nce_conf.sdf
Molecules/Nce_trimer/Nce_E_list.csv
Molecules/Nce_trimer/Nce_min-E-conf-MMFF.sdf
Molecules/Nce_trimer/Nce.png
Molecules/old molecules/peptoid_Nae.mol
Molecules/old molecules/peptoid_roman.mol
Molecules/old molecules/Untitled_1.mol
Fmoc_Nphe_Nphe/Fmoc_Nphe_Nphe_3d.mol
Fmoc_Nphe_Nphe/Fmoc_Nphe_Nphe_conf.sdf
Fmoc_Nphe_Nphe/Fmoc_Nphe_Nphe_E_list.csv
Fmoc_Nphe_Nphe/Fmoc_Nphe_Nphe_min-E-conf-MMFF.sdf
Fmoc_Nphe_Nphe/Fmoc_Nphe_Nphe.png
Fmoc_phe_phe_3d.mol
Fmoc_phe_phe_conf.sdf
Fmoc_phe_phe_E_list.csv
Fmoc_phe_phe_min-E-conf-MMFF.sdf
Fmoc_phe_phe.png
Nme_3d.mol
Nme_conf.sdf
Nme_E_list.csv
Nme_min-E-conf-MMFF.sdf
Nme.png
