/.DS_Store
/Untitled_1.mol
/attempt_1
/attempt_2
/conf.mol
/molecule.png
/peptoid_Nae.mol
/peptoid_Nae_3d.mol
/peptoid_Nae_conf.sdf
/peptoid_roman.mol
/peptoid_roman_3d.mol
/peptoid_roman_conf.sdf
/untitled_1_3d.mol
/untitled_1_conf.sdf